<a href="https://colab.research.google.com/github/joaocabeca2/ebac/blob/main/Profissao_Analista_de_dados_M13_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Data Wrangling II
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Agregação e Ordenação;</li>
  <li>Combinação;</li>
  <li>Técnicas Avançadas.</li>
</ol>

---

# **Exercícios**

Neste exercícios, vamos trabalhar com dados geográficos, demográficos e econômicos do Brasil. Vamos manipular e combinar dados de duas frentes distintas para poder responder perguntas de negócios.

## 1\. Data Wrangling

### **1.1. Estados**

O arquivo `estados-bruto.xml` contém informações sobre estados (nome, sigla e região). **Carregue-o na máquina virtual do Google Colab**. Um arquivo do tipo XML é similar a um arquivo do tipo HTML, exemplo do estado do Acre:

```xml
<ESTADO>
  <ID>1</ID>
  <NOME>ACRE</NOME>
  <IDCAPITAL>16</IDCAPITAL>
  <SIGLA>AC</SIGLA>
  <REGIAO>NORTE</REGIAO>
</ESTADO>
```

Utilize o pacote Python `beautifulsoup4` para extrair os dados do arquivo `estados-bruto.xml` providenciado. Salve os dados extraidos no arquivo `estados-limpo.csv` separado por `;`. Exemplo das três primeiras linhas mais o cabeçalho:

```
estado;sigla;regiao
ACRE;AC;NORTE
ALAGOAS;AL;NORDESTE
AMAPA;AP;NORTE
```

**Dica**: Utilize o parser de xml chamado `lxml` do `beautifulsoup4`.

In [8]:
# lendo o arquivo xml e armazenando os dados nome,sigla e regiao em listas
from bs4 import BeautifulSoup

with open(file='estados-bruto.xml',mode='r',encoding='utf8') as arq:
    fonte = BeautifulSoup(arq, features='xml')
    estados = list(map(lambda estado: estado.get_text(),fonte.find_all('NOME')))
    siglas = list(map(lambda sigla: sigla.get_text(),fonte.find_all('SIGLA')))
    regioes = list(map(lambda regiao: regiao.get_text(),fonte.find_all('REGIAO')))

In [9]:
#criar e transferir os dados armazenados nas listas em um arquivo csv
import csv

with open(file='./estados-limpo.csv',mode='w') as csvfile:
    csvfile = csv.writer(csvfile,delimiter=';')
    csvfile.writerow(['estado','sigla','regiao'])
    for x in range(len(estados)):
        csvfile.writerow([estados[x],siglas[x],regioes[x]])

In [35]:
print(estados)
print(siglas)
print(regioes)

['ACRE', 'ALAGOAS', 'AMAPA', 'AMAZONAS', 'BAHIA', 'CEARA', 'DISTRITO FEDERAL', 'ESPIRITO SANTO', 'GOIAS', 'MARANHAO', 'MATO GROSSO', 'MATO GROSSO DO SUL', 'PARA', 'PARAIBA', 'PARANA', 'PERNAMBUCO', 'PIAUI', 'RIO DE JANEIRO', 'RIO GRANDE DO NORTE', 'RIO GRANDE DO SUL', 'RONDONIA', 'RORAIMA', 'SANTA CATARINA', 'SAO PAULO', 'SERGIPE', 'TOCANTINS', 'MINAS GERAIS']
['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO', 'MG']
['NORTE', 'NORDESTE', 'NORTE', 'NORTE', 'NORDESTE', 'NORDESTE', 'CENTRO-OESTE', 'SUDESTE', 'CENTRO-OESTE', 'NORDESTE', 'CENTRO-OESTE', 'CENTRO-OESTE', 'NORTE', 'NORDESTE', 'SUL', 'NORDESTE', 'NORDESTE', 'SUDESTE', 'NORDESTE', 'SUL', 'NORTE', 'NORTE', 'SUL', 'SUDESTE', 'NORDESTE', 'NORTE', 'SUDESTE']

### **1.2. Cidades**

O arquivo `cidades-bruto.csv` contém informações demográficas e socioeconomicas das cidades do Brasil. **Carregue-o na máquina virtual do Google Colab**. Utilize o pacote Python `pandas` para extrair os dados do arquivo `cidades-bruto.xml` providenciado. Seguindo as seguintes especificações:

1. Apenas dados do censo de 2010;
1. Apenas as colunas UF, Nome, PIB, Pop_est_2009 e PIB_percapita.

Salve os dados extraidos no arquivo `cidades-limpo.csv` separado por `;`. Exemplo das três primeiras linhas mais o cabeçalho:

```
estado;cidade;populacao;pib;pib_percapita
BAHIA;TREMEDAL;18433;57883.9921875;3140.23999023
RIO GRANDE DO SUL;TURUÇU;4000;45723875;11430.96972656
ESPIRITO SANTO;VITÓRIA;320156;19782628;61790.58984375
```

In [11]:
# ler o arquivo cidades-bruto.csv

import pandas as pd

dados = pd.read_csv('cidades-bruto.csv',engine='python',encoding='utf8',on_bad_lines='skip')
dados

,FID,gid,UF,nome,Censo,PIB,Pop_est_2009,PIB_percapita,Descrição,legenda,classe,geom
0,vw_pib_percapita.fid-4514e25a_17aaa325034_-258f,215,BAHIA,Tremedal,2010.0,5.788399e+04,18433,3140.239990,Produto Interno Bruto per capita,- 9639.65,1,MULTIPOLYGON (((-41.458803305191566 -14.781415...
1,vw_pib_percapita.fid-4514e25a_17aaa325034_-258e,306,RIO GRANDE DO SUL,Turuçu,2010.0,4.572388e+04,4000,11430.969727,Produto Interno Bruto per capita,9639.65 - 22144.80,2,MULTIPOLYGON (((-52.035349932081274 -31.567509...
2,vw_pib_percapita.fid-4514e25a_17aaa325034_-258d,900,ESPIRITO SANTO,Vitória,2010.0,1.978263e+07,320156,61790.589844,Produto Interno Bruto per capita,52702.10 - 133669.00,4,MULTIPOLYGON (((-40.3292566978242 -20.23997417...
3,vw_pib_percapita.fid-4514e25a_17aaa325034_-258c,3613,MINAS GERAIS,Jacutinga,2010.0,2.478160e+05,21424,11567.209961,Produto Interno Bruto per capita,9639.65 - 22144.80,2,MULTIPOLYGON (((-46.50528160015326 -22.3400120...
4,vw_pib_percapita.fid-4514e25a_17aaa325034_-258b,1028,PIAUÍ,Nazária,2010.0,2.095138e+04,7895,2653.750000,Produto Interno Bruto per capita,- 9639.65,1,POLYGON ((-42.826685407155495 -5.3480291684437...
...,...,...,...,...,...,...,...,...,...,...,...,...
2789,vw_pib_percapita.fid-4514e25a_17aaa325034_-1a16,4154,PARANÁ,Telêmaco Borba,2010.0,1.230715e+06,69278,17764.869141,Produto Interno Bruto per capita,9639.65 - 22144.80,2,MULTIPOLYGON (((-50.33825793714306 -24.1248373...
2790,vw_pib_percapita.fid-4514e25a_17aaa325034_-1a15,4859,SÃO PAULO,Serra Negra,2010.0,3.144081e+05,25912,12133.690430,Produto Interno Bruto per capita,9639.65 - 22144.80,2,MULTIPOLYGON (((-46.62076186402202 -22.5413442...
2791,vw_pib_percapita.fid-4514e25a_17aaa325034_-1a14,4371,BAHIA,Caravelas,2010.0,2.053519e+05,22115,9285.639648,Produto Interno Bruto per capita,- 9639.65,1,MULTIPOLYGON (((-39.16503899723567 -17.7280127...
2792,vw_pib_percapita.fid-4514e25a_17aaa325034_-1a13,5487,TOCANTINS,Lajeado,2010.0,2.050174e+04,2204,9302.059570,Produto Interno Bruto per capita,- 9639.65,1,MULTIPOLYGON (((-48.34258644170544 -9.70791651...
2793,vw_pib_percapita.fid-4514e25a_17aaa325034_-1a12,371,RIO GRANDE DO SUL,Bozano,2010.0,3.607876e+04,2361,15281.139648,Produto Interno Bruto per capita,9639.65 - 22144.80,2,MULTIPOLYGON (((-53.708181034900676 -28.298251...

In [12]:
# visualize os resultados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2794 entries, 0 to 2793
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FID            2794 non-null   object
 1   gid            2794 non-null   int64
 2   UF             2794 non-null   object
 3   nome           2794 non-null   object
 4   Censo          2791 non-null   float64
 5   PIB            2794 non-null   float64
 6   Pop_est_2009   2794 non-null   int64
 7   PIB_percapita  2794 non-null   float64
 8   Descrição      2794 non-null   object
 9   legenda        2794 non-null   object
 10  classe         2794 non-null   int64
 11  geom           2794 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 262.1+ KB

In [30]:
dados_cidades = dados[['nome','UF','PIB','Pop_est_2009','PIB_percapita']]
dados_cidades.columns = list(map(lambda coluna: coluna.lower(),dados_cidades.columns))
dados_cidades.head()

        nome                 uf           pib  pop_est_2009  pib_percapita
0   Tremedal              BAHIA  5.788399e+04         18433    3140.239990
1     Turuçu  RIO GRANDE DO SUL  4.572388e+04          4000   11430.969727
2    Vitória     ESPIRITO SANTO  1.978263e+07        320156   61790.589844
3  Jacutinga       MINAS GERAIS  2.478160e+05         21424   11567.209961
4    Nazária              PIAUÍ  2.095138e+04          7895    2653.750000

***ao fazer o merge no pandas alguns estados do dataframa dados_cidades não combinam utilizando a coluna 'uf' para o inner, Então fui explorar os dados para identificar o problema e descobri que os nomes dos estados retirados do csv estao com pontuação. então vou retirar e verificar se todos as ufs vao coincidir***

In [54]:
#print(sorted(estados))
#print(sorted(dados_cidades['uf'].unique()))
def retirar_acentos(uf):
    #retirar todas as pontuações de todas as vogais
    uf = uf.replace('Á','A')
    uf = uf.replace('Â','A')
    uf = uf.replace('Ã','A')
    uf = uf.replace('É','E')
    uf = uf.replace('Ê','E')
    uf = uf.replace('Í','I')
    uf = uf.replace('Ó','O')
    uf = uf.replace('Ô','O')
    uf = uf.replace('Ú','U')
    return uf
dados_cidades.loc['uf'] = dados_cidades['uf'].apply(lambda elemento: retirar_acentos(elemento))

AttributeError: ignored

In [14]:
# escrever o conteudo extraido no arquivo cidades-limpo.csv separados por ;
dados_cidades.to_csv('./cidades-limpo.csv',index='False',sep=';')
dados_cidades.isnull().any()

nome             False
uf               False
pib              False
pop_est_2009     False
pib_percapita    False
dtype: bool

### **1.3. Brasil**

Utilize o pacote Python `pandas` para combinar os dados do arquivo `estados-bruto.csv` com os dados do arquivo `cidades-bruto.csv` em um único dataframe. Escolha a coluna e o método de combinação de tal forma que **não haja perda de dados** no processo (não produzirá valores nulos `NaN`). Salve os dados do dataframe no arquivo `brasil.csv`

In [15]:
estados_limpo = pd.read_csv('estados-limpo.csv',delimiter=';')
estados_limpo.columns = ['uf','pib','populacao']
brasil_df = estados_limpo.merge(dados_filtrados,on='uf')
brasil_df.to_csv('./brasil.csv',sep=';',index=False)

---

## 2\. Data Analytics

### **2.1. DataFrame**

Utilize o pacote Python `pandas` para carregar o arquivo `brasil.csv` no dataframe `brasil_df`.

In [16]:
dados_br = pd.read_csv('brasil.csv',delimiter=';')
dados_br.columns = ['uf','sigla','regiao','cidade','pib','populacao','pib_percapita']
dados_br

,uf,sigla,regiao,cidade,pib,populacao,pib_percapita
0,ACRE,AC,NORTE,Marechal Thaumaturgo,109181.867188,14275,7648.470215
1,ACRE,AC,NORTE,Senador Guiomard,217153.859375,19697,11024.719727
2,ACRE,AC,NORTE,Assis Brasil,48347.300781,5662,8538.910156
3,ACRE,AC,NORTE,Epitaciolândia,129641.093750,14224,9114.250000
4,ACRE,AC,NORTE,Manoel Urbano,61478.730469,7505,8191.700195
...,...,...,...,...,...,...,...
1624,MINAS GERAIS,MG,SUDESTE,São João do Pacuí,20219.134766,4223,4787.859863
1625,MINAS GERAIS,MG,SUDESTE,Cristais,109473.796875,11269,9714.599609
1626,MINAS GERAIS,MG,SUDESTE,Laranjal,43400.273438,6568,6607.839844
1627,MINAS GERAIS,MG,SUDESTE,Piedade de Caratinga,39503.039062,6937,5694.540039
1628,MINAS GERAIS,MG,SUDESTE,Paraguaçu,208498.343750,20429,10206.000000

### **2.2. Analise**

Utilize o dataframe `brasil_df` para responder as seguintes perguntas de negócio:

 - Quais são as 10 cidades mais populosas do Brasil?

In [17]:
cidades10_populosas = dados_br.nlargest(10,'populacao').reset_index(drop=True)
cidades10_populosas = cidades10_populosas[['cidade','populacao']]
cidades10_populosas

             cidade  populacao
0    Rio de Janeiro    6186710
1          Salvador    2998056
2            Manaus    1738641
3      Porto Alegre    1436123
4       São Gonçalo     991382
5      Campo Grande     755107
6        Uberlândia     634345
7  Feira de Santana     591707
8            Cuiabá     550562
9           Aracaju     544039

 - Quais são as 5 cidades com a menor PIB per capita da região nordeste?

In [18]:
cidades5_menor_pib = dados_br.nsmallest(5,'pib').reset_index(drop=True)
cidades5_menor_pib = cidades5_menor_pib[['cidade','pib']]
cidades5_menor_pib

                        cidade           pib
0       São Félix do Tocantins   8387.245117
1                       Viçosa   8834.245117
2              Cedro do Abaeté  10221.856445
3  Santo Antônio do Rio Abaixo  10686.737305
4                   Consolação  10992.836914

 - Quais são as 15 cidades com maior PIB do do estado de São Paulo?

In [19]:
len(dados_br['uf'].unique())

16

 - Qual é o PIB do estado de Santa Catarina?

In [20]:
# código para responder a pergunta

 - Qual é o população da região sul?

In [21]:
# código para responder a pergunta

 - Qual é o PIB per capito médio das cidades do Mato Grosso do Sul?

In [22]:
# código para responder a pergunta

 - Qual é a população do Brasil?

In [23]:
# código para responder a pergunta

### **2.3. Visualização**

Utilize o dataframe `brasil_df` para gerar as seguintes visualizações.

 - Gere um gráfico de barras com as 10 cidades menos populosas do Brasil.

In [24]:
# código para gerar a visualização

 - Gere um gráfico de pizza com a proporção da população do Brasil por região.

In [25]:
# código para gerar a visualização